.container-products > p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: 15px 0;
}
.container-products .listOfProducts{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.load-more-btn{
    display: block;
    margin: 40px auto;
    padding: 14px 32px;
    border: none;
    border-radius: 40px;
    background: white;
    color: #7e4141;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.load-more-btn:hover{
    transform: translateY(-2px);
}
.listOfProducts .price-container {
    display: flex;
    align-items: center;
}
.listOfProducts .price-container :first-child{
    font-size: 1.1rem;
}
