.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    color: #2c2c2c;
    width: 95%;
    margin: 0 auto;  
    height: 60px;
    border-radius: 50px;
    position: fixed;
    top: 10px;
    z-index: 1000;
    transition: transform 0.5s ease, background-color 0.8s ease, box-shadow 0.3s ease;
    font-family: 'Georgia', serif;
}
.navbar-hidden {
  transform: translateY(-150%);  
}
.navbar-scrolled {
  background-color: white;
  color: #2c2c2c;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);   
  height: 60px;
}
.navbar h1 {
    font-weight: bold;
    margin-left: 20px;
}
.nav-items ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-items ul li {
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 18px;
    color: #2c2c2c;
}
.nav-items ul li:hover{
    color: #fae3b0;
    margin:  0 1px ;
    transition: color 0.3s ease, margin 0.9s ease;
}
.nav-items ul li a{
    text-decoration: none;
    color: inherit;
}
.mobile-only{
    display: none;
}

@media (max-width: 768px){
    .mobile-only{
        display: block;
    }
    .desktop-only{
        display: none;
    }
    .navbar{
        width: 100%;
        padding: 0.5rem 1rem;
        border-radius: 0;
    }
}
.mobile-menu{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
