.product{
    width: 80%;
    height: 90vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
    margin-top: 50px;
    padding: 20px;
    border-radius: 8px;
}
.product img{
    border-radius: 12px;
}
.product .product-images{
    width: 40%;
    display: flex;
}
.product .product-images .list-images{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product .product-images .list-images img{
    width: 50px;
    height: auto;

}.product .product-images .main-image{
    width: 80%;
    margin-left: 20px;
}
.product .product-images .main-image img{
    width: 100%;
    height: auto;
}
.sizes {
  display: flex;
  align-items: center;
  gap: 10px;
}
.size-btn {
  border: 1px solid #ddd;
  background: white;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.size-btn:hover {
  border-color: #d49696;
}


/* ACTIVE (selected) */
.size-btn.active {
  background: #d49696;
  color: white;
  border-color: #d49696;
}

.product-details h1{
    color: #2c2c2c;
}
.product-details .price{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 8px 0;
}
.product-details .price .new-price{
    font-size: 22px;
}
.product-details .price .old-price{
    font-size: 16px;
    color: #888;
    text-decoration: line-through;
}
.product-details .star{
    color: #f5c518;
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
}
.product-details .product-desc{
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}
.product-details .selected-item{
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px 8px;
}
.product-details .selected-item .top-controle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
}
.product-details .selected-item .top-controle .quantity{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #2c2c2c;
}
.product-details .selected-item .top-controle .quantity button{
    border: 1px solid #ddd;
    background: white;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}
.product-details .add-to-cart{
    border: none;
    padding: 8px 14px;
    background-color: #d49696;
    color: white;
    border-radius: 8px;
    width: fit-content;
    cursor: pointer;
    margin-left: auto;
    width: 50%;
}
.product-details .add-wishlist{
    border: 1px solid #ddd;
    background: white;
    padding: 8px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    width: 50%;
    margin-left: auto;
    color: #d49696;
    font-size: 16px;
}
.product-details .add-wishlist span{
    display: inline-block;
    margin-right: 8px;
    color: #d49696;
    font-size: 14px;
    background-color: transparent;
}