*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Georgia', serif;
}
body{
    background-color: bisque;
    min-height: 100vh;
    width: 95%;
    margin: 0 auto;
}
main{
    padding-top: 80px;
}
@media (max-width: 768px) {
    body{
        width: 100%;
    }
}